### 1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).

In [10]:
t1=(10,20,30)
t2=(40,50,60)
type(t2)

# a. Concatenate the two tuples and store it in “t_combine”
t_combine=t1+t2
print(t_combine)

# b. Repeat the elements of “t_combine” 3 times
print(t_combine*3)

# c. Access the 3rd element from “t_combine”
print(t_combine[2])

# d. Access the first three elements from “t_combine”
print(t_combine[0:3])

# e. Access the last three elements from “t_combine”
print(t_combine[-3:])

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
30
(10, 20, 30)
(40, 50, 60)

## 2. Create a list ‘my_list’ with these elements:

In [30]:
# a. First element is a tuple with values 1,2,3 
a=(1,2,3)

# b. Second element is a tuple with values “a”,”b”,”c”
b= ('a','b','c')

# c. Third element is a tuple with values True,False 
c=('True', 'False')

my_list=a+b+c
print(my_list)
type(my_list)

(1, 2, 3, 'a', 'b', 'c', 'True', 'False')

tuple

## 3. Append a new tuple – (1,’a’,True) to ‘my_list’

In [31]:
# a. Append a new list – *“sparta”,123+ to my_list 
'''my_list.append('sparta', '123+')
print(my_list)'''

my_list=list(my_list)
print(type(my_list))
my_list.append('sparta')
my_list.append('123+')
my_list=tuple(my_list)
print(my_list)
type(my_list)

<class 'list'>
(1, 2, 3, 'a', 'b', 'c', 'True', 'False', 'sparta', '123+')

tuple

## 4. Create a dictionary ‘fruit’ where:

In [52]:
# a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
fruit={"Fruit":('Apple', 'Banana','Mango','Guava')}
print(fruit["Fruit"])

# b. The second key is ‘Cost’ and the values are (85,54,120,70) 
fruit["Cost"]=(85,54,120,70)
print(fruit)

# c. Extract all the keys from ‘fruit’
print(fruit.keys())

# d. Extract all the values from ‘fruit’
print(fruit.values())

('Apple', 'Banana', 'Mango', 'Guava')
{'Fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'Cost': (85, 54, 120, 70)}
dict_keys(['Fruit', 'Cost'])
dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

## 5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

In [56]:
my_set= {1,1,'a','a','True','True'}
print(my_set)
type(my_set)

{1, 'a', 'True'}

set