## Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your corporation has told you to work with the
structure of the Data.
Tasks to be performed:

1. Create a list named ‘myList’ that is having the following elements: 10,20,30,’apple’, True, 8.10.
a. Now in the ‘myList’, append these values: 30,40
b. After that reverse the elements of the ‘myList’ and store that in ‘reversedList’

In [12]:
mylist=[10,20,30,'apple','True',8.10]
print(mylist)
# a. Now in the ‘myList’, append these values: 30,40 
mylist.append(30)
mylist.append(40)
print(mylist)

# b. After that reverse the elements of the ‘myList’ and store that in ‘reversedList’
mylist.reverse()
print(mylist)

[10, 20, 30, 'apple', 'True', 8.1]
[10, 20, 30, 'apple', 'True', 8.1, 30, 40]
[40, 30, 8.1, 'True', 'apple', 30, 20, 10]

2. Create a dictonary with key values as 1,2,3 and the values as ‘data’,’information’, and ‘text’.
a. After that eliminate the ‘text’ value form the dictonary.
b. Add ‘features’ in the dictonary.
c. Fetch the ‘data’ element from the dictonary and display it in the output.

In [41]:
# Create a dictonary with key values as 1,2,3 and the values as ‘data’,’information’, and ‘text’.
d={1:'data', 2:'information',3:'text'}
print(d)

# a. After that eliminate the ‘text’ value form the dictonary.
d.pop(3)
print(d)

# b. Add ‘features’ in the dictonary. 
d[3]='features'
print(d)

# c. Fetch the ‘data’ element from the dictonary and display it in the output.
a=d[1]
print(a)
print(d.values())

{1: 'data', 2: 'information', 3: 'text'}
{1: 'data', 2: 'information'}
{1: 'data', 2: 'information', 3: 'features'}
data
dict_values(['data', 'information', 'features'])

3. Create a tuple and add these elements 1,2,3,apple,mango in ‘my_tuple

In [44]:
my_tuple=(1,2,3,'apple','mango')
print(my_tuple)
type(my_tuple)

(1, 2, 3, 'apple', 'mango')

tuple

4. Create another tuple named numeric_tuple consisting of only integer values 10,20,30,40,50
a. Find the minimum value from the numeric_tuple.
b. Concatenate my_tuple with numeric_tuple and store the result in r1.
c. Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli’.

In [45]:
numeric_tuple=(10,20,30,40,50)
print(numeric_tuple)

(10, 20, 30, 40, 50)

In [51]:
# a. Find the minimum value from the numeric_tuple. 
print(min(numeric_tuple))

# b. Concatenate my_tuple with numeric_tuple and store the result in r1. 
r1=my_tuple+numeric_tuple
print(r1)

# c. Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli’.
newdupli=my_tuple*2
print(newdupli)

10
(1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)
(1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

5. Create 2 sets with name set1 and set2, where set1 contains{1,2,3,4,5} and set2 to
contains{2,3,7,6,1}
a. Perform the below operation:
a. set1 union set2
b. set1 intersection set2
c. set1 difference set2

In [52]:
set1={1,2,3,4,5}
set2={2,3,7,6,1}
print(set1, set2)

{1, 2, 3, 4, 5} {1, 2, 3, 6, 7}

In [62]:
# a. set1 union set2 
print(set1.union(set2))

# b. set1 intersection set2 
print(set1.intersection(set2))

# c. set1 difference set2
print(set1.difference(set2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{4, 5}