Problem Statement:
You work in XYZ Company as a Python. The company officials want you to build a python program.
Link to Dataset Tasks to be performed:

1. Write a function that takes start and end of a range returns a Pandas series object containing
numbers within that range.
In case the user does not pass start or end or both they should default to 1 and 10 respectively.
eg.
 range_series() -> Should Return a pandas series from 1 to 10
 range_series(5) -> Should Return a pandas series from 5 to 10
 range_series(5, 10) -> Should Return a pandas series from 5 to 10.

In [34]:
import pandas as pd
def range_series(start=1, end=10):
    df1 = pd.Series(range(start,end))
    return df1


# range_series() -> Should Return a pandas series from 1 to 10
print(range_series())

# range_series(5) -> Should Return a pandas series from 5 to 10 
print('\n',range_series(5))

# range_series(5, 10) -> Should Return a pandas series from 5 to 10.
print('\n',range_series(5,10))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

 0    5
1    6
2    7
3    8
4    9
dtype: int64

 0    5
1    6
2    7
3    8
4    9
dtype: int64

2. Create a function that takes in two lists named keys and values as arguments.
Keys would be strings and contain n string values.
Values would be a list containing n lists.
The methods should return a new pandas dataframe with keys as column names and values as
their corresponding values
e.g. -> create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]]) -> should return a dataframe

One Two

0 X A

1 Y B

In [25]:
def create_dataframe(keys, values):
    dic = {}
    for i in range(len(keys)):
        dic[keys[i]] = values[i]
    df2 = pd.DataFrame(dic)
    return df2
create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]]) 


# df=pd.DataFrame({'One':['X','Y'], 'Two':['A', 'B']})
# print(df)

  One Two
0   X   A
1   Y   B

3. Create a function that concatenates two dataframes. Use previously created function to create
two dataframes and pass them as parameters Make sure that the indexes are reset before
returning:

In [39]:
def con_df(df1, df2):
    df = pd.concat([train, test], axis=0, ignore_index = True)
    return df
con_df(df1,df2)

NameError: name 'df2' is not defined

4. Write code to load data from cars.csv into a dataframe and print its details. Details like: 'count',
'mean', 'std', 'min', '25%', '50%', '75%', 'max'.

In [48]:
cars=pd.read_csv(r'B:\MY COMPUTER (HOME)\2 IT\Intellipaat course\python with data science\python-Datasets\python Datasets\cars.csv')
print(cars.head())
print(cars.describe())

               model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
             mpg        cyl        disp          hp       drat  ...       qsec         vs         am       gear     carb
count  32.000000  32.000000   32.000000   32.000000  32.000000  ...  32.000000  32.000000  32.000000  32.000000  32.0000
mean   20.090625   6.187500  230.721875  146.687500   3.596563  ...  17.848750   0.437500   0.406250   3.687500   2.8125
std     6.026948   1.785922  123.938694   68.562868   0.534679  ...   1.786943   0.504016   0.498991   0.737804   1.6152
min    10.400000   4.000000   71.100000   52.000000   2.760000  ...  14.500000   0.000000   0.000000   3.000000   1.0000
25%    15.425000   4.000000  120.825000   96.500000   3.080000  ...  16.892500   0.000000   0.000000   3.000000   2.0000
50%    19.200000   6.000000  196.300000  123.000000   3.695000  ...  17.710000   0.000000   0.000000   4.000000   2.0000
75%    22.800000   8.000000  326.000000  180.000000   3.920000  ...  18.900000   1.000000   1.000000   4.000000   4.0000
max    33.900000   8.000000  472.000000  335.000000   4.930000  ...  22.900000   1.000000   1.000000   5.000000   8.0000

[8 rows x 11 columns]

5. Write a method that will take a column name as argument and return the name of the column
with which the
given column has the highest correlation.
The data to be used is the cars dataset.
The returned value should not the column named that was passed as the parameters.
E.G: get_max_correlated_column('mpg') -> should return 'drat'

In [50]:
def max_correlated_col(col, dataset):
    dic = {}s
    list1 = [x for x in dataset.columns if dataset[x].dtypes == float]
    for i in list1:
        dic[i] = abs(dataset[col].corr(dataset[i]))
    return max(dic)
max_correlated_col('mpg', cars)

'wt'